<!DOCTYPE html>
<html>
    <head>
        <title>
            خلاصه ‌ساز متن
        </title>
    </head>
    <body style="direction: rtl;">
        <h1>
            خلاصه‌ ساز متن
        </h1>
        <form method="POST">
            <!-- <input type="text" width="200px" height="100px" placeholder="Enter here"> -->
            <textarea type="text" name="claim" rows="20" cols="90" placeholder="Enter here"></textarea>
            <input type="submit" value="Submit">
        </form>
        <p>
            original text :{{ org_text }}
            
        </p>
            Summary: {{ summ }}
        <p>
            
        </p>
    </body>
</html>